<main class="container">
        <div class="col-lg-4">
            <h2><span class="glyphicon glyphicon-calendar mleft_10 icon_big"></span>Monthly Overview</h2>
            <div class="col-lg-6 countBlock clear_padding">
                <span>Contree left: </span><h3 class="clear_margin">3500</h3>
            </div>
            <div class="col-lg-6 countBlock clear_padding">
                <span>Yet to come: </span><h3 class="clear_margin">3500</h3>
            </div>
            <div class="col-lg-6 countBlock clear_padding">
                <span>Contree total: </span><h3 class="clear_margin">3500</h3>
            </div>
        </div>
        <div class="col-lg-8 lbdr">
            <h2><span class="glyphicon glyphicon-list-alt mleft_10 icon_big"></span>Details</h2>
            <div class="cleaner_20"></div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Member</th>
                        <th>Contree given</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>