<main class="container">
  <div class="col-sm-4">
    <h2>
      <span class="glyphicon glyphicon-calendar mleft_10 icon_big"></span>
      <span>{{ month | date : 'MMM, yyyy' }}</span>
      <span class='small'>overview</span>
    </h2>
    <div class='cleaner_20 tbdr'></div>
    <div class="col-xs-6 countBlock clear_padding">
        <span>Total Contree: </span><h3 class="clear_margin">{{ getMothlyTotal() }}</h3>
    </div>
    <div class="col-xs-6 countBlock clear_padding">
        <span>Yet to come: </span><h3 class="clear_margin">{{ getMothlyTotal() - getMothlyRemaining() }}</h3>
    </div>
    <div class="col-xs-6 countBlock clear_padding">
        <span>Remaining Contree: </span><h3 class="clear_margin">3500</h3>
    </div>
  </div>
  <div class="col-sm-8 lbdr">
      <div class="">

        <div class="row memberContBlock" ng-repeat='memberContree in contree'>
          <div class='container-fluid'>
            <div class='row'>
              <div class="col-xs-12">
                <h3 class="clear_margin text-primary"><span class="glyphicon glyphicon-user mleft_10"></span>{{ memberContree.member[1] }}</h3>
              </div>
              <div class="col-xs-12">
                <div class='subLink'><a class='text-muted' ng-click='showContree(memberContree.member[0])'>Update Contree</a></div>
                <div class='subLink'><a class='text-muted' ng-click='showMember(memberContree.member[0])'>View</a></div>
              </div>
            </div>
          </div>
          <div class='col-sm-12 cleaner_20'></div>
          <div class='container-fluid'>
            <div class='row'>
              <div class="col-xs-4 ">
                <span>Contree to Give: </span><h3 class="clear_margin">{{ memberContree.monthContree[0] }}</h3>
              </div>
              <div class="col-xs-4">
                  <span>Already Gave: </span><h3 class="clear_margin">{{ memberContree.contreeGiven[0] }}</h3>
              </div>
              <div class="col-xs-4">
                  <span>Rest to Give: </span><h3 class="clear_margin">{{ memberContree.monthContree[0] - memberContree.contreeGiven[0] }}</h3>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row memberContBlock">
          <div class="col-sm-12"><a href="/newContree">
            <h4 class="clear_margin"><span class="glyphicon glyphicon-user mleft_10"></span>New Contree</h4>
          </a></div>
        </div>
      </div>

      <!-- <div class="row">
        <form name="memberContree" class="center-block container-fluid" novalidate>
          <div class="row form-group">
            <div class="col-sm-5 col-sm-offset-3">
              <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="filter-option">{{ selectedMember }}</span>&nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-repeat='member in members' ng-click='select(member._id, member.firstName[0], member.lastName[0])'> {{ member.firstName[0] }}  {{ member.lastName[0] }} </a></li>
                </ul>
              </div>
            </div>
          </div>
          <form-field record='contree' field='monthContree' live='false' required='true'></form-field>
          <form-field record='contree' field='contreeGiven' live='false' required='true'></form-field>

          <div class="row form-group">
            <label class='col-sm-3 control-label text-right'>Remaining Amount</label>
            <div class="col-sm-5">
              {{ remainingContree }}
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-5 col-sm-offset-3">
              <button class="btn btn-primary btn-block _updateBtn" ng-click="save()" type="button">Add</button>
            </div>
          </div>
          <center class="_msg successMsg"></center>
        </form>
      </div> -->
  </div>
</main>