<main class="container">
  <div class="col-lg-4">
    <div class="clearfix">
        <h2><span class="glyphicon glyphicon-calendar mleft_10 icon_big"></span>This month</h2>
        <div class="col-lg-6 countBlock clear_padding">
            <span>Contree left: </span><h3 class="clear_margin">3500</h3>
        </div>
        <div class="col-lg-6 countBlock clear_padding">
            <span>Yet to come: </span><h3 class="clear_margin">3500</h3>
        </div>
        <div class="col-lg-6 countBlock clear_padding">
            <span>Contree total: </span><h3 class="clear_margin">3500</h3>
        </div>
    </div>

    <div class="clearfix tbdr">
        <h2><span class="glyphicon glyphicon-plus mleft_10 icon_big"></span>New Expence</h2>
        <p class="successMsg">{{ successMsg }}</p>
        <form name='newExpence' novalidate>
          <div class='form-group'>
            <div class="dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="filter-option">{{ selectedMember }}</span>&nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-repeat='member in members' ng-click='select(member._id, member.firstName[0], member.lastName[0])'> {{ member.firstName[0] }}  {{ member.lastName[0] }} </a></li>
              </ul>
            </div>
            <input type='hidden' ng-form="member" ng-model='expence.member'>
            <!-- <select class="form-control" ng-model="expence.memberId" ng-options="(member.firstName[0] + ' ' + member.lastName[0]) for member in members">
              <option style="display:none" value="">select a member</option>
            </select> -->
            
          </div>  
          
          <div class='form-group' ng-class="{ 'has-error': expenceAmount.$dirty && expenceAmount.$invalid }">
            <input type="number" ng-form="expenceAmount" ng-model="expence.expenceAmount" class="form-control"  placeholder="Amount" required="true" >
          </div>

          <div class='form-group' ng-class="{ 'has-error': expenceDetail.$dirty && expenceDetail.$invalid }">
            <input type="text" ng-form="expenceDetail" ng-model="expence.expenceDetail" class="form-control" placeholder="Description" required="true">
          </div>
          
          <div class='form-group'>
            <div class="btn btn-primary btn-block" ng-click="submit()">Submit</div>
          </div>
        </form>
    </div>
  </div>
  <div class="col-lg-8 lbdr">
      <h2><span class="glyphicon glyphicon-list mleft_10 icon_big"></span>Rescent expences</h2>
      <!--<h2>Rescent expences</h2>-->
      <div class="dashboard_expences">
          <table class="table">
            <thead>
              <tr class="active">
                <th>#</th>
                <th>Money</th>
                <th>Description</th>
                <th>Member</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='expence in rescentExpences | reverse | limitTo: 6 '>
                <td>{{ $index + 1 }}</td>
                <td>{{ expence.expenceAmount }}</td>
                <td>{{ expence.expenceDetail }}</td>
                <td>{{ expence.member[1] }}</td>
                <td>{{ expence.timestamp | date : "MM/dd/yyyy 'at' h:mma" }}</td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
</main>