<main class="container">
    <div class="col-sm-4">
      <h2>Edit existing members</h2>
      <div class="cleaner_20"></div>
      <div class="list-group">
        <a class="list-group-item" ng-repeat='memb in members' ng-click='edit(memb._id)'> {{ memb.firstName[0] }} {{ memb.lastName[0] }} </a>
      </div>
    </div>
    <div class="col-sm-8 lbdr">
        <a><div class="closeIcon"><span class="btn btn-sm btn-default" ng-click='show(member._id)'>Back</span></div></a>
        <h2 class='text-primary'><span class="glyphicon glyphicon-user mleft_10 icon_big"></span>{{ member.firstName[0] }} {{ member.lastName[0] }}</h2>
        <div class='cleaner_20'></div>
        <div class="div-newMember row">
          <form name="editMember" class="center-block container-fluid" novalidate>
            <form-field record='member' field='firstName' required='true'></form-field>
            <form-field record='member' field='lastName'  required='true'></form-field>
            <form-field record='member' field='email' required='true'></form-field>
            <form-field record='member' field='contact'  required='true'></form-field>
            <form-field record='member' field='address' required='true'></form-field>
            <div class="row form-group">
              <div class="col-sm-5 col-sm-offset-3">
                <button class="btn btn-primary btn-block" ng-click="update()" type="button">Update</button>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-5 col-sm-offset-3">
                <button class="btn btn-danger btn-block" ng-click="delete()" type="button">Remove</button>
              </div>
            </div>
            <center class="_msg successMsg"></center>
          </form>
        </div>
    </div>
</main>