<main class="container" ng-controller='MonthlyExpenceController'>
    <div class="col-sm-4">
      <h2><span class="glyphicon glyphicon-calendar mleft_10 icon_big"></span>Get all expences</h2>
      <p class='text-primary'>Select date to get the details.</p>
      <div class="cleaner_20"></div>
      <div class='calendar' ng-model='calendar'></div>
    </div>
    <div class="col-sm-8 lbdr">
      <h2><span class="glyphicon glyphicon-list mleft_10 icon_big"></span>Expence on <span class='text-primary'>{{ date }}</span></h2>
      <div class="cleaner_20"></div>
      <table class="table">
        <thead>
          <tr class="active">
            <th>#</th>
            <th>Money</th>
            <th class='col-md-3'>Description</th>
            <th>Member</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='expence in allExpences'>
            <td>{{ $index + 1 }}</td>
            <td>{{ expence.expenceAmount }}</td>
            <td>{{ expence.expenceDetail }}</td>
            <td>{{ expence.member[1] }}</td>
            <td class='bg-info text-center' ng-switch='expence.payStatus'>
                <label ng-switch-when='true'>Paid</label>
                <label ng-switch-when='false'>Unpaid</label>
              </td>
            <!-- <td>{{ expence.timestamp | date : "shortTime" }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
</main>
<script type="text/javascript">
  $(document).ready(function () {
    var LimitDate = new Date();
    $('.calendar').datepicker({
      todayHighlight: true,
      keyboardNavigation: false,
      startDate : "04/01/2015",
      endDate : LimitDate 
    })
  });
</script>