<main class="container" ng-controller='MonthlyExpenceController'>
    <div class="col-lg-4">
      <h2>Get all expences</h2>
      <p class='text-primary'>Select date to get the details.</p>
      <div class="cleaner_20"></div>
      <div class='calendar' ng-model='calendar'></div>
    </div>
    <div class="col-lg-8 lbdr">
      <h2><span class="glyphicon glyphicon-list mleft_10 icon_big"></span>Expence on <span class='text-primary'>{{ date }}</span></h2>
      <div class="cleaner_20"></div>
      <table class="table">
        <thead>
          <tr class="active">
            <th>#</th>
            <th>Money</th>
            <th>Description</th>
            <th>Member</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='expence in allExpences'>
            <td>{{ $index + 1 }}</td>
            <td>{{ expence.expenceAmount }}</td>
            <td>{{ expence.expenceDetail }}</td>
            <td>{{ expence.member[1] }}</td>
            <td>{{ expence.timestamp | date : "shortTime" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</main>
<script type="text/javascript">
  $(document).ready(function () {
    $('.calendar').datepicker({
      todayHighlight: true
    })
  });
</script>