<main class="container">
    <div class="col-lg-4">
      <h2>Listed Members</h2>
      <div class="cleaner_20"></div>
      <div class="list-group">
          <a class="list-group-item" ng-repeat='member in members' ng-click='show(member._id)'> {{ member.firstName[0] }} {{ member.lastName[0] }} </a>
      </div>
      <a href='/newMember'><span class="glyphicon glyphicon-user mleft_10"></span>Add new member</a>
    </div>
        <div class="col-lg-8 lbdr">
          <a ng-click='edit(selectedMember._id)'><div class="closeIcon"><span class="btn btn-sm btn-default">Edit</span></div></a>
          <h2><span class="glyphicon glyphicon-user mleft_10 icon_big"></span>{{ selectedMember.firstName[0] }}  {{ selectedMember.lastName[0] }} </h2>
          <div>
              <p class="clear_margin"><b>Address: </b>{{ selectedMember.address[0] }}</p>
              <p><b>Contact: </b>{{ selectedMember.contact[0] }}</p>
          </div>
          <div class="clearfix">
              <div class="col-lg-6 clear_padding">
                  <h3>Contree of this month: 7500</h3>
              </div>
              <div class="col-lg-6">
                  <div class="col-lg-6">
                      <h3><span class="glyphicon glyphicon-arrow-up mleft_10"></span><span>500</span></h3>
                  </div>
                  <div class="col-lg-6">
                      <h3><span class="glyphicon glyphicon-arrow-down mleft_10"></span><span>0</span></h3>
                  </div>
              </div>
          </div>
            <div>
              <div class="cleaner_20"></div>
              <h5>Rescent Expences</h5>
              <table class="table">
                <thead>
                  <tr class="active">
                    <th>#</th>
                    <th>Money</th>
                    <th>Description</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='expence in rescentExpences'>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ expence.expenceAmount }}</td>
                    <td>{{ expence.expenceDetail }}</td>
                    <td>{{ expence.timestamp | date : "MM/dd/yyyy 'at' h:mma" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </main>