<main class="container">
    <div class="col-sm-4">
      <h2>Listed Members</h2>
      <div class="cleaner_20"></div>
      <div class="list-group">
        <a class="list-group-item" ng-repeat='member in members' ng-click='show(member._id, $index)'> {{ member.firstName[0] }} {{ member.lastName[0] }} </a>
        <a class="list-group-item text-primary-over" href='/newMember'><span class="glyphicon glyphicon-user mleft_10"></span>Add new member</a>
      </div>
    </div>
    <div class="col-sm-8 lbdr">
      <a ng-click='edit(selectedMember._id)'><div class="closeIcon"><span class="btn btn-sm btn-default">Edit</span></div></a>
      <h2 class='text-primary'><span class="glyphicon glyphicon-user mleft_10 icon_big"></span>{{ selectedMember.firstName[0] }}  {{ selectedMember.lastName[0] }} </h2>
      <div>
        <p class="clear_margin"><b>Address: </b>{{ selectedMember.address[0] }}</p>
        <p><b>Contact: </b>{{ selectedMember.contact[0] }}</p>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 clear_padding">
          <h3>
            <a href='/contree'>Contree for this month : </a> 
            <span>{{ getMonthContree.monthContree[0] }}</span>
          </h3>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-6">
            <h3><span class="glyphicon glyphicon-arrow-up mleft_10"></span><span>{{ amountToTake }}</span></h3>
          </div>
          <div class="col-sm-6">
            <h3><span class="glyphicon glyphicon-arrow-down mleft_10"></span><span>{{ getMonthContree.monthContree[0] - getMonthContree.contreeGiven[0] }}</span></h3>
          </div>
        </div>
      </div>
        <div>
          <div class="cleaner_20"></div>
          <label class='text-success'>Total expence by {{ selectedMember.firstName[0] }} is  {{ totalMemberExpence }}</label>
          <div class="cleaner_20 tbdr"></div>
          <table class="table">
            <thead>
              <tr class="active">
                <th>#</th>
                <th>Money</th>
                <th class='col-md-3'>Description</th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='expence in rescentExpences'>
                <td>{{ $index + 1 }}</td>
                <td>{{ expence.expenceAmount }}</td>
                <td>{{ expence.expenceDetail }}</td>
                <td>{{ expence.timestamp | date : "mediumDate" }}</td>
                <td class='bg-info text-center' ng-switch='expence.payStatus'>
                  <label ng-switch-when='true'>Paid</label>
                  <label ng-switch-when='false'><a ng-click='payStatusUpdate(expence._id, $index)'>Unpaid</a></label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</main>